/data/minuteStepsNarrow_merged.csv
/data/hourlySteps_merged.csv
/data/heartrate_seconds_merged.csv
/data/minuteCaloriesWide_merged.csv
/data/minuteIntensitiesWide_merged.csv
/data/minuteStepsWide_merged.csv